h1,h2{
    font-weight: 800;
    font-family: Arial, sans-serif;
    
}

li{
    font-size: 20px;
}

p{
    font-size:26px;
}

.ingredients{
    background: rgb(227, 217, 141);
}

.description{
    background: rgb(255, 167, 159);
}

.steps{
    background: rgb(237, 168, 38);
}

.description h2{
    color:rgb(6, 92, 48)
}

.ingredients h2{
    color:rgb(158, 1, 106)
}

.steps h2{
    color:rgb(119, 0, 193)
}
